/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Cor de fundo geral */
    color: #333; /* Cor do texto principal */
}

/* Estilos para o cabeçalho */
header {
    background-color: #0400ff59; /* Cor de fundo do cabeçalho */
    color: #000000; /* Cor do texto do cabeçalho */
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 100px;
    font-family: Docallisme On Street;
    padding: 30px;
    color: #ffffff;
}
header h3 {
    font-size: 50px;
    font-family: BOOMSTER;
    padding: 30px;
    color: #ffffff;
}
header nav ul {
    list-style: none;
    font-family: BOOMSTER;
    color: #ffffff;
}

header nav ul li {
    display: inline;
    font-size: 25px;
    margin-right: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Estilos para o conteúdo principal */
main {
    padding: 20px;
}

/* Estilos para a seção de destaques */
.destaques {
    margin-bottom: 40px;
}

.destaques h2 {
    font-size: 50px;
    font-family: BOOMSTER;
    margin-bottom: 20px;
    color: #ffffff;
}
.produto {
    display: inline-block;
    color: #ffffff;
    width: 50%; /* ajuste conforme necessário */
    margin: 1%;
    font-family: Happy Memories;
    text-align: center;
    font-size: 25px;
}

.produto img {
    max-width: 100%;
    height: auto;
}
.produto {
    display: inline-block;
    color: #ffffff;
    width: 30%; /* ajuste conforme necessário */
    margin: 1%;
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
}

/* Estilos para o rodapé */
footer {
    background-color: #061dec7c; /* Cor de fundo do rodapé */
    color: #ffffff; /* Cor do texto do rodapé */
    padding: 20px;
    text-align: center;
}

 .newsletter input[type="text"] {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

 .newsletter button {
    padding: 10px 20px;
    background-color: #000000; /* Azul */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@font-face{
    font-family: Docallisme On Street;
    src: url(DOCALLISME\ ON\ STREET.ttf);
}
@font-face{
    font-family: BOOMSTER;
    src: url(BOOMSTER.otf);
}

@font-face{
    font-family: This Cafe;
    src: url(This\ Cafe.ttf);
}

@font-face{
    font-family: Happy Memories;
    src: url(Happy\ Memories.ttf);
}
 
  